.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.836);
    z-index: 2;
 }
 .pu{
    width: 100vh;
    height: 100vh;
 }
 .popup{
    position: absolute;
    top: 15vh;
    left: 25vw;
    min-width: 40vw;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
 }
 .form{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding-top: 10vh;
    /* justify-content: center; */
    align-items: center;
    background-color: rgb(10, 80, 57);
    width: 100%;
    min-height: 50vh;
    color: aliceblue;
 }
 .pu .formm{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 1vh;
    height: 80%;
    justify-content: space-evenly;
 }
 .x{
    cursor: pointer;
    position: absolute;
    font-size: large;
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
    /* background-color: black; */
    border: solid aliceblue 1px;
    color: aliceblue;
    top: 70px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

 }